/* CSS RESET */

/* Box sizing rules */

*,
*::before,
*::after {
  box-sizing: border-box;
  image-rendering: -webkit-optimize-contrast;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
  list-style: none;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
  background-color: var(--bg-color-lighter);
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

html {
  overflow-x: hidden;
}

html,
body {
  -webkit-overflow-scrolling: touch;
}

:root {
  --text-color: #f0ebeb;
  --bg-color-lighter: #fff;
}

@media (max-width: 800px) {
  body {
    overflow-x: hidden;
  }

  html,
  body {
    overflow-y: scroll;
  }
}
